# firstCyclePoint
{% if restartCyclePoint == firstCyclePoint %}
    [[[R1]]]
      graph = '''
        # prepare first DA background state
        {{PrepareExternalAnalysisOuter}} => {{PrepareFirstBackgroundOuter}}

        # prepare analyses (init) files (for dual-mesh Variational) for reading to
        # static and input stream in all cycles for inner and ensemble geometries
        {{PrepareExternalAnalysisInner}}
        {{PrepareExternalAnalysisEnsemble}}
      '''
{% endif %}

# all other cycles
{% if CriticalPathType == "Normal" %}
    [[[{{AnalysisTimes}}]]]
      graph = '''
%include include/dependencies/auto/da.rc
        # depends on previous Forecast
        ForecastFinished[-PT{{FC2DAOffsetHR}}H] => PreDA
      '''

# TODO: add IAU graph

    [[[{{ForecastTimes}}]]]
      graph = '''
%include include/dependencies/auto/forecast.rc
        # depends on previous DA
        DAFinished[-PT{{DA2FCOffsetHR}}H] => Forecast
      '''

    [[[{{AnalysisTimes}}]]]
      graph = '''
  {% if GetGDASAnalysis %}
        GetGDASAnalysisFromFTP
  {% endif %}
      '''
{% elif CriticalPathType == "Reanalysis" %}
    [[[{{AnalysisTimes}}]]]
      graph = '''
%include include/dependencies/auto/da.rc
      '''

{% elif CriticalPathType == "Reforecast" %}
    [[[{{ForecastTimes}}]]]
      graph = '''
%include include/dependencies/auto/forecast.rc
      '''

{% elif CriticalPathType == "Bypass" %}
  # nothing to do
{% else %}
    {{ raise('CriticalPathType is not valid') }}
{% endif %}

# optional extended forecasts for verification
{% if VerifyExtendedMeanFC %}
    [[[{{extMeanTimes}}]]]
      graph = '''
        DAFinished => MeanAnalysis => ExtendedMeanFC => ExtendedForecastFinished
      '''
{% endif %}
{% if VerifyExtendedEnsFC and nMembers > 1 %}
    [[[{{extEnsTimes}}]]]
      graph = '''
        DAFinished => ExtendedEnsFC:succeed-all => ExtendedForecastFinished
      '''
{% endif %}
