        ## Pre-DA
        # observation processing
        {{PrepareObservations}} => PreDataAssim

        # inflation
%include include/dependencies/auto/abei.rc

        # init
        PreDataAssim => InitDataAssim

        ## Data assimilation
%include include/dependencies/auto/variational.rc

        ## Post-DA
        # inflation+relaxation
%include include/dependencies/auto/rtpp.rc

        # clean after finished
        DataAssimPost => DataAssimFinished => {{CleanDataAssim}}
