  # ... for background-duration forecast from deterministic analysis or ensemble of analyses
{% if VerifyBGMembers or (VerifyEnsMeanBG and nMembers == 1) %}
    [[[{{AnalysisTimes}}]]]
      graph = '''
        ForecastFinished[-PT{{FC2DAOffsetHR}}H] => VerifyModelBG
        {{PrepareExternalAnalysisOuter}} => VerifyModelBG
    {% if compareBgToBenchmark %}
        VerifyModelBG:succeed-all => CompareModelBG
    {% endif %}
      '''
{% endif %}


  # ... for mean of ensemble of backgrounds and ensemble spread (bg only for obs, bg+an for model)
{% if VerifyEnsMeanBG and nMembers > 1 %}
    [[[{{AnalysisTimes}}]]]
      graph = '''
        ForecastFinished[-PT{{FC2DAOffsetHR}}H] => MeanBackground
        MeanBackground => VerifyModelEnsMeanBG
        {{PrepareExternalAnalysisOuter}} => VerifyModelEnsMeanBG
  {% if DiagnoseEnsSpreadBG %}
        DAFinished => VerifyModelEnsMeanBG
        VerifyModelEnsMeanBG => CleanDA
  {% endif %}
      '''
{% endif %}


  # ... for ensemble of analyses
{% if VerifyANMembers %}
    [[[{{AnalysisTimes}}]]]
      graph = '''
        DAFinished => VerifyModelAN
        {{PrepareExternalAnalysisOuter}} => VerifyModelAN
      '''
{% endif %}


  # ... for extended forecast from deterministic analysis or mean of ensemble of analyses
  # note: assumes that obs and verifying analyses are available at extended forecast times
{% if VerifyExtendedMeanFC %}
    [[[{{extMeanTimes}}]]]
      graph = '''
%include include/dependencies/auto/initic.rc
%include include/dependencies/auto/externalanalyses.rc
      '''

  {% for dt in extLengths %}
    {% set dtStr = "-"+(dt|string)+"hr" %}
    {% if dt == 0 %}
      {% set success = ":succeed-all" %}
    {% else %}
      {% set success = "" %}
    {% endif %}
    {% set prep = (dtStr+success+" => ").join(PrepareExternalAnalysisTasksOuter)+dtStr %}
    [[[{{extMeanTimes}}]]]
      graph = '''
        {{prep}}
        ExtendedForecastFinished => VerifyModelMeanFC{{dtStr}}
        ExternalAnalysisReady{{dtStr}}{{success}} => VerifyModelMeanFC{{dtStr}}
      '''
  {% endfor %}
{% endif %}


  # ... for extended forecast from ensemble of analyses
  # note: assumes that obs and verifying analyses are available at extended forecast times
{% if VerifyExtendedEnsFC and nMembers > 1 %}
    [[[{{extEnsTimes}}]]]
      graph = '''
%include include/dependencies/auto/initic.rc
%include include/dependencies/auto/externalanalyses.rc
      '''

  {% for dt in extLengths %}
    {% set dtStr = "-"+(dt|string)+"hr" %}
    {% if dt == 0 %}
      {% set success = ":succeed-all" %}
    {% else %}
      {% set success = "" %}
    {% endif %}
    {% set prep = (dtStr+success+" => ").join(PrepareExternalAnalysisTasksOuter)+dtStr %}

    [[[{{extEnsTimes}}]]]
      graph = '''
        {{prep}}
    {% for mem in EnsVerifyMembers %}
        ExtendedForecastFinished => VerifyModelEnsFC{{mem}}{{dtStr}}
        ExternalAnalysisReady{{dtStr}}{{success}} => VerifyModelEnsFC{{mem}}{{dtStr}}
    {% endfor %}
      '''
  {% endfor %}
{% endif %}
