  # ... for background-duration forecast from deterministic analysis or ensemble of analyses
{% if VerifyBGMembers or (VerifyEnsMeanBG and nMembers == 1) %}
    [[[{{AnalysisTimes}}]]]
      graph = '''
        ForecastFinished[-PT{{FC2DAOffsetHR}}H] => VerifyModelBG
        {{PrepareExternalAnalysisOuter}} => VerifyModelBG
    {% if compareBgToBenchmark %}
        VerifyModelBG:succeed-all => CompareModelBG
    {% endif %}
      '''
{% endif %}


  # ... for mean of ensemble of backgrounds and ensemble spread (bg only for obs, bg+an for model)
{% if VerifyEnsMeanBG and nMembers > 1 %}
    [[[{{AnalysisTimes}}]]]
      graph = '''
        ForecastFinished[-PT{{FC2DAOffsetHR}}H] => MeanBackground
        MeanBackground => VerifyModelEnsMeanBG
        {{PrepareExternalAnalysisOuter}} => VerifyModelEnsMeanBG
  {% if DiagnoseEnsSpreadBG %}
        DAFinished => VerifyModelEnsMeanBG
        VerifyModelEnsMeanBG => CleanDA
  {% endif %}
      '''
{% endif %}


  # ... for ensemble of analyses
{% if VerifyANMembers %}
    [[[{{AnalysisTimes}}]]]
      graph = '''
        DAFinished => VerifyModelAN
        {{PrepareExternalAnalysisOuter}} => VerifyModelAN
      '''
{% endif %}


  # ... for extended forecast from deterministic analysis or mean of ensemble of analyses
  # note: assumes that obs and verifying analyses are available at extended forecast times
{% if VerifyExtendedMeanFC %}
  {% for TIME in extMeanTimesList %}
    [[[{{TIME}}/PT{{extIntervHR}}H]]]
      graph = '''
        {{PrepareExternalAnalysisOuter}}
      '''
    {% for dt in extLengths %}
    [[[{{TIME}}]]]
      graph = '''
        ExtendedForecastFinished => VerifyModelMeanFC{{dt}}hr
        ExternalAnalysisReady[PT{{dt}}H] => VerifyModelMeanFC{{dt}}hr
      '''
    {% endfor %}
  {% endfor %}
{% endif %}


  # ... for extended forecast from ensemble of analyses
  # note: assumes that obs and verifying analyses are available at extended forecast times
{% if VerifyExtendedEnsFC and nMembers > 1 %}
  {% for TIME in extEnsTimesList %}
    [[[{{TIME}}/PT{{extIntervHR}}H]]]
      graph = '''
        {{PrepareExternalAnalysisOuter}}
      '''
    {% for dt in extLengths %}
    [[[{{TIME}}]]]
      graph = '''
      {% for mem in EnsVerifyMembers %}
        ExtendedForecastFinished => VerifyModelEnsFC{{mem}}-{{dt}}hr
        ExternalAnalysisReady[PT{{dt}}H] => VerifyModelEnsFC{{mem}}-{{dt}}hr
      {% endfor %}
      '''
    {% endfor %}
  {% endfor %}
{% endif %}
