  # ... for background-duration forecast from deterministic analysis or ensemble of analyses
{% if VerifyBGMembers or (VerifyEnsMeanBG and nMembers == 1) %}
    [[[{{AnalysisTimes}}]]]
      graph = '''
        ForecastFinished[-PT{{FC2DAOffsetHR}}H] => VerifyModelBG
        {{PrepareExternalAnalysisOuter}} => VerifyModelBG
    {% if compareBgToBenchmark %}
        VerifyModelBG:succeed-all => CompareModelBG
    {% endif %}
      '''
{% endif %}


  # ... for mean of ensemble of backgrounds and ensemble spread (bg only for obs, bg+an for model)
{% if VerifyEnsMeanBG and nMembers > 1 %}
    [[[{{AnalysisTimes}}]]]
      graph = '''
        ForecastFinished[-PT{{FC2DAOffsetHR}}H] => MeanBackground
        MeanBackground => VerifyModelEnsMeanBG
        {{PrepareExternalAnalysisOuter}} => VerifyModelEnsMeanBG
  {% if DiagnoseEnsSpreadBG %}
        DAFinished => VerifyModelEnsMeanBG
        VerifyModelEnsMeanBG => CleanDA
  {% endif %}
      '''
{% endif %}


  # ... for ensemble of analyses
{% if VerifyANMembers %}
    [[[{{AnalysisTimes}}]]]
      graph = '''
        DAFinished => VerifyModelAN
        {{PrepareExternalAnalysisOuter}} => VerifyModelAN
      '''
{% endif %}


  # ... for extended forecast from deterministic analysis or mean of ensemble of analyses
  # note: assumes that obs and verifying analyses are available at extended forecast times
{% if VerifyExtendedMeanFC %}
  {% for dt in extLengths %}
    {% set ds = "-"+(dt|string)+"hr" %}
    {% if dt == 0 %}
      {% set prep = (ds+":succeed-all => ").join(PrepareExternalAnalysisTasksOuter)+ds %}
    {% else %}
      {% set prep = (ds+" => ").join(PrepareExternalAnalysisTasksOuter)+ds %}
    {% endif %}
    [[[{{extMeanTimes}}]]]
      graph = '''
        {{prep}}
        ExtendedForecastFinished => VerifyModelMeanFC{{dt}}hr
        ExternalAnalysisReady-{{dt}}hr => VerifyModelMeanFC{{dt}}hr
      '''
  {% endfor %}
{% endif %}


  # ... for extended forecast from ensemble of analyses
  # note: assumes that obs and verifying analyses are available at extended forecast times
{% if VerifyExtendedEnsFC and nMembers > 1 %}
  {% for dt in extLengths %}
    {% set ds = "-"+(dt|string)+"hr" %}
    {% if dt == 0 %}
      {% set prep = (ds+":succeed-all => ").join(PrepareExternalAnalysisTasksOuter)+ds %}
    {% else %}
      {% set prep = (ds+" => ").join(PrepareExternalAnalysisTasksOuter)+ds %}
    {% endif %}
    [[[{{extEnsTimes}}]]]
      graph = '''
        {{prep}}
    {% for mem in EnsVerifyMembers %}
        ExtendedForecastFinished => VerifyModelEnsFC{{mem}}-{{dt}}hr
        ExternalAnalysisReady-{{dt}}hr => VerifyModelEnsFC{{mem}}-{{dt}}hr
    {% endfor %}
      '''
  {% endfor %}
{% endif %}
