# Ignore these files anywhere in the tree
include/variables/auto/*.rc
include/tasks/auto/*.rc
include/dependencies/auto/*.rc
config/job.csh
config/externalanalyses.csh 
config/members.csh
config/model.csh
config/scenario.csh
config/workflow.csh
~*
