## All-task defaults
  [[root]]
    pre-script = "cd  $origin/"
    [[[environment]]]
      origin = {{mainScriptDir}}
    [[[events]]]
      # prevents jobs from sitting in submitted state for longer than 'submission timeout'
      submission timeout = {{submissionTimeout}}
      submission timeout handler = cylc poll %(suite)s '%(id)s:*'; sleep 20; cylc trigger %(suite)s '%(id)s:*' ''']

  [[BATCH]]
    # load conda + activate npl
    init-script = '''
source /etc/profile.d/modules.sh
module load conda/latest
conda activate npl
'''
    # default job
    [[[job]]]
      batch system = pbs
      execution time limit = PT60M

    # default directives, to be overridden by individual tasks
    [[[directives]]]
      -j = oe
      -k = eod
      -S = /bin/tcsh

  [[SingleBatch]]
    # load conda + activate npl
    init-script = '''
source /etc/profile.d/modules.sh
module load conda/latest
conda activate npl
'''
    # default job
    [[[job]]]
      batch system = pbs
      execution time limit = PT60M

    # default directives, to be overridden by individual tasks
    [[[directives]]]
      -j = oe
      -k = eod
      -S = /bin/tcsh
      -q = {{SingleProcQueue}}
      -A = {{SingleProcAccount}}
      -l = select=1:ncpus=1

    # default submission timeout
    [[[events]]]
      submission timeout = PT3M

  [[Clean]]
    [[[job]]]
      execution time limit = PT5M
      execution retry delays = 2*PT15S
