## Observations
  [[GetObs]]
    inherit = BATCH
    script = $origin/GetObs.csh
    [[[job]]]
      execution time limit = PT10M
      execution retry delays = {{GetObsRetry}}
  [[ObsToIODA]]
    inherit = BATCH
    script = $origin/ObsToIODA.csh
    [[[job]]]
      execution time limit = PT10M
      execution retry delays = {{ConvertObsRetry}}
    # currently ObsToIODA has to be on Cheyenne, because ioda-upgrade.x is built there
    # TODO: build ioda-upgrade.x on casper, remove CP directives below
    # Note: memory for ObsToIODA may need to be increased when hyperspectral and/or
    #       geostationary instruments are added
    [[[directives]]]
      -m = ae
      -q = {{CPQueueName}}
      -A = {{CPAccountNumber}}
      -l = select=1:ncpus=1:mem=10GB
  [[ObsReady]]
    inherit = BACKGROUND
