- obs space:
    name: GnssroRef
    obsdatain:
      obsfile: InDBDir/gnssro_obs_2018041500.h5
    obsdataout:
      obsfile: OutDBDir/obsPrefix_AppType_gnssroref.h5
    simulated variables: [refractivity]
  obs operator:
    name: GnssroRef
    obs options:
      use_compress: 0
  obs error:
    covariance model: diagonal
  obs filters:
  - filter: Domain Check
    where:
    - variable:
        name: altitude@MetaData
      minvalue: 0
      maxvalue: 30000
    - variable:
        name: earth_radius_of_curvature@MetaData
      minvalue: 6250000
      maxvalue: 6450000
    - variable:
        name: geoid_height_above_reference_ellipsoid@MetaData
      minvalue: -200
      maxvalue: 200
  - filter: ROobserror
    variable: refractivity
    errmodel: NBAM
  get values:
    interpolation type: InterpolationType
