#!Jinja2
%include include/variables/auto/experiment.rc
%include include/variables/auto/extendedforecast.rc
%include include/variables/auto/externalanalyses.rc
%include include/variables/auto/firstbackground.rc
%include include/variables/auto/hpc.rc
%include include/variables/auto/members.rc
%include include/variables/auto/observations.rc
%include include/variables/auto/workflow.rc


[meta]
  title = "{{title}}"

[cylc]
  UTC mode = False
  [[environment]]
[scheduling]
  initial cycle point = {{initialCyclePoint}}
  final cycle point   = {{finalCyclePoint}}

  # Maximum number of simultaneous active dates;
  # useful for constraining non-blocking flows
  # and to avoid over-utilization of login nodes
  # hint: execute 'ps aux | grep $USER' to check your login node overhead
  # default: 3
  max active cycle points = {{maxActiveCyclePoints}}

  [[dependencies]]

## (iv.a) Critical path
%include include/dependencies/criticalpath.rc

## (iv.b) Verification
  {% if VerifyAgainstExternalAnalyses %}
%include include/dependencies/verifymodel.rc
  {% endif %}

  {% if VerifyAgainstObservations %}
%include include/dependencies/verifyobs.rc
  {% endif %}

[runtime]
%include include/tasks/base.rc
%include include/tasks/auto/da.rc
%include include/tasks/auto/forecast.rc
%include include/tasks/auto/firstbackground.rc
%include include/tasks/auto/externalanalyses.rc
%include include/tasks/auto/initic.rc
%include include/tasks/auto/observations.rc
%include include/tasks/verify.rc

[visualization]
  initial cycle point = {{initialCyclePoint}}
  final cycle point   = {{finalCyclePoint}}
  number of cycle points = 200
  default node attributes = "style=filled", "fillcolor=grey"
