#!Jinja2

%include include/variables/auto/experiment.rc
%include include/variables/auto/extendedforecast.rc
%include include/variables/auto/externalanalyses.rc
%include include/variables/auto/hpc.rc
%include include/variables/auto/observations.rc
%include include/variables/auto/workflow.rc

[meta]
  title = "{{title}}"

[cylc]
  UTC mode = False
  [[environment]]
[scheduling]
  initial cycle point = {{restartCyclePoint}}
  final cycle point   = {{finalCyclePoint}}

  # Maximum number of simultaneous active dates;
  # useful for constraining non-blocking flows
  # and to avoid over-utilization of login nodes
  # hint: execute 'ps aux | grep $USER' to check your login node overhead
  # default: 3
  max active cycle points = {{maxActiveCyclePoints}}

  [[queues]]
%include include/queues/auto/externalanalyses.rc
%include include/queues/auto/initic.rc
%include include/queues/auto/observations.rc

  [[dependencies]]

    [[[{{extMeanTimes}}]]]
      graph = '''
        {{PrepareExternalAnalysisOuter}} => ExtendedFCFromExternalAnalysis => ExtendedForecastFinished
%include include/dependencies/auto/extendedforecast.rc
      '''

[runtime]
%include include/tasks/base.rc
%include include/tasks/auto/extendedforecast.rc
%include include/tasks/auto/externalanalyses.rc
%include include/tasks/auto/initic.rc
%include include/tasks/auto/observations.rc

[visualization]
  initial cycle point = {{restartCyclePoint}}
  final cycle point   = {{finalCyclePoint}}
  number of cycle points = 200
  default node attributes = "style=filled", "fillcolor=grey"
