        ## Pre-DA
        # observation processing
        {{PrepareObservations}} => PreDataAssim

        # inflation
{% if ABEInflation %}
        ForecastFinished[-PT{{FC2DAOffsetHR}}H] =>
        MeanBackground =>
        HofXEnsMeanBG =>
        GenerateABEInflation => PreDataAssim
        GenerateABEInflation => CleanHofXEnsMeanBG
{% endif %}


        # init
        PreDataAssim => InitDataAssim

        ## Data assimilation
{% if EDASize > 1 %}
        # prepare the working directory, then run
        InitDataAssim => EnsDataAssim

        # all EnsDataAssim members must succeed in order to start post
        EnsDataAssim:succeed-all => DataAssimPost

{% else %}
        # prepare the working directory, then run
        InitDataAssim => DataAssim

        # all DataAssim members must succeed in order to start post
        DataAssim:succeed-all => DataAssimPost

{% endif %}

        ## Post-DA
        # inflation+relaxation
{% if (RTPPRelaxationFactor > 0.0 and nMembers > 1) %}
        PrepRTPP => RTPP
        DataAssimPost => RTPP => DataAssimFinished
  {% set CleanDataAssim = 'CleanVariational & CleanRTPP' %}
{% else %}
  {% set CleanDataAssim = 'CleanVariational' %}
{% endif %}

        # clean after finished
        DataAssimPost => DataAssimFinished => {{CleanDataAssim}}
