## Root
  [[root]] # suite defaults
    pre-script = "cd  $origin/"
    [[[environment]]]
      origin = {{mainScriptDir}}
    # PBS
    [[[job]]]
      batch system = pbs
      execution time limit = PT60M
    [[[directives]]]
      -j = oe
      -k = eod
      -S = /bin/tcsh
      # default to using one processor
      -q = {{SingleProcQueueName}}
      -A = {{SingleProcAccountNumber}}
      -l = select=1:ncpus=1
# TODO: enable SLURM
#    [[[job]]]
#      batch system = slurm
#      execution time limit = PT60M
#    [[[directives]]]
#      --account = {{CPAccountNumber}}
#      --mem = 45G
#      --ntasks = 1
#      --cpus-per-task = 36
#      --partition = dav

## Null parent or child
  [[Null]]
    [[[job]]]
      batch system = background

## Base
  [[ForecastBase]]
    [[[job]]]
      execution time limit = PT{{CyclingFCSeconds}}S
    [[[directives]]]
      -m = ae
      -q = {{CPQueueName}}
      -A = {{CPAccountNumber}}
      -l = select={{CyclingFCNodes}}:ncpus={{CyclingFCPEPerNode}}:mpiprocs={{CyclingFCPEPerNode}}
  [[ExtendedFCBase]]
    [[[job]]]
      execution time limit = PT{{ExtendedFCSeconds}}S
    [[[directives]]]
      -m = ae
      -q = {{NCPQueueName}}
      -A = {{NCPAccountNumber}}
      -l = select={{ExtendedFCNodes}}:ncpus={{ExtendedFCPEPerNode}}:mpiprocs={{ExtendedFCPEPerNode}}
  [[HofXBase]]
    [[[job]]]
      execution time limit = PT{{HofXSeconds}}S
      execution retry delays = {{HofXRetry}}
    [[[directives]]]
      -q = {{NCPQueueName}}
      -A = {{NCPAccountNumber}}
      -l = select={{HofXNodes}}:ncpus={{HofXPEPerNode}}:mpiprocs={{HofXPEPerNode}}:mem={{HofXMemory}}GB
  [[VerifyModelBase]]
    [[[job]]]
      execution time limit = PT{{VerifyModelSeconds}}S
      execution retry delays = {{VerifyModelRetry}}
    [[[directives]]]
      -q = {{NCPQueueName}}
      -A = {{NCPAccountNumber}}
      -l = select=1:ncpus=36:mpiprocs=36
  [[VerifyObsBase]]
    [[[job]]]
      execution time limit = PT{{VerifyObsSeconds}}S
      execution retry delays = {{VerifyObsRetry}}
    [[[directives]]]
      -q = {{NCPQueueName}}
      -A = {{NCPAccountNumber}}
      -l = select=1:ncpus=36:mpiprocs=36
  [[CompareBase]]
    [[[job]]]
      execution time limit = PT5M
    [[[directives]]]
      -q = {{NCPQueueName}}
      -A = {{NCPAccountNumber}}
      -l = select=1:ncpus=36:mpiprocs=36
  [[CleanBase]]
    [[[job]]]
      execution time limit = PT5M
      execution retry delays = {{CleanRetry}}


## Observations
  [[GetObs]]
    script = $origin/GetObs.csh
    [[[job]]]
      execution time limit = PT10M
      execution retry delays = {{GetObsRetry}}
  [[ObsToIODA]]
    script = $origin/ObsToIODA.csh
    [[[job]]]
      execution time limit = PT10M
      execution retry delays = {{InitializationRetry}}
    # currently ObsToIODA has to be on Cheyenne, because ioda-upgrade.x is built there
    # TODO: build ioda-upgrade.x on casper, remove CP directives below
    # Note: memory for ObsToIODA may need to be increased when hyperspectral and/or
    #       geostationary instruments are added
    [[[directives]]]
      -m = ae
      -q = {{CPQueueName}}
      -A = {{CPAccountNumber}}
      -l = select=1:ncpus=1:mem=10GB
  [[ObsReady]]
    [[[job]]]
      batch system = background


## Data assimilation and supporting tasks (critical path)
  # (Ens)DataAssim => Post => Finished => Clean
  [[DataAssimPost]]
    [[[job]]]
      batch system = background
  [[DataAssimFinished]]
    [[[job]]]
      batch system = background

  # directory/file preparation
  [[InitDataAssim]]
    env-script = cd {{mainScriptDir}}; ./PrepJEDIVariational.csh "1" "0" "DA"
    script = $origin/PrepVariational.csh "1"
    [[[job]]]
      execution time limit = PT20M
      execution retry delays = {{VariationalRetry}}
  # single instance or ensemble of EDA(s)
  [[EnsDataAssim]]
  {% for inst in DAInstances %}
  [[EDAInstance{{inst}}]]
    inherit = EnsDataAssim
    script = $origin/EnsembleOfVariational.csh "{{inst}}"
    [[[job]]]
      execution time limit = PT{{EnsOfVariationalSeconds}}S
      execution retry delays = {{EnsOfVariationalRetry}}
    [[[directives]]]
      -m = ae
      -q = {{CPQueueName}}
      -A = {{CPAccountNumber}}
      -l = select={{EnsOfVariationalNodes}}:ncpus={{EnsOfVariationalPEPerNode}}:mpiprocs={{EnsOfVariationalPEPerNode}}:mem={{EnsOfVariationalMemory}}GB
  {% endfor %}
  # single instance or ensemble of Variational(s)
  [[DataAssim]]
  {% for mem in EnsDAMembers %}
  [[DAMember{{mem}}]]
    inherit = DataAssim
    script = $origin/Variational.csh "{{mem}}"
    [[[job]]]
      execution time limit = PT{{VariationalSeconds}}S
      execution retry delays = {{VariationalRetry}}
    [[[directives]]]
      -m = ae
      -q = {{CPQueueName}}
      -A = {{CPAccountNumber}}
      -l = select={{VariationalNodes}}:ncpus={{VariationalPEPerNode}}:mpiprocs={{VariationalPEPerNode}}:mem={{VariationalMemory}}GB
  {% endfor %}
  [[CleanVariational]]
    inherit = CleanBase
    script = $origin/CleanVariational.csh

  # inflation (pre and post)
  [[GenerateABEInflation]]
    script = $origin/GenerateABEInflation.csh
    [[[job]]]
      execution time limit = PT20M
    [[[directives]]]
      -q = {{CPQueueName}}
      -A = {{CPAccountNumber}}
      -l = select=1:ncpus=36:mpiprocs=36
  [[PrepRTPP]]
    script = $origin/PrepRTPP.csh
    [[[job]]]
      execution time limit = PT1M
      execution retry delays = {{RTPPRetry}}
  [[RTPP]]
    script = $origin/RTPP.csh
    [[[job]]]
      execution time limit = PT{{RTPPSeconds}}S
      execution retry delays = {{RTPPRetry}}
    [[[directives]]]
      -m = ae
      -q = {{CPQueueName}}
      -A = {{CPAccountNumber}}
      -l = select={{RTPPNodes}}:ncpus={{RTPPPEPerNode}}:mpiprocs={{RTPPPEPerNode}}:mem={{RTPPMemory}}GB
  [[CleanRTPP]]
    inherit = CleanBase
    script = $origin/CleanRTPP.csh

  # verification
  [[VerifyObsDA]]
    inherit = VerifyObsBase
    script = $origin/VerifyObsDA.csh "1" "0" "DA" "0"
  [[CompareObsDA]]
    inherit = CompareBase
    script = $origin/CompareObsDA.csh "1" "0" "DA" "0"


## Forecast (critical path)
  [[Forecast]]
    inherit = ForecastBase
{% for mem in EnsDAMembers %}
  [[ForecastMember{{mem}}]]
    inherit = Forecast
    script = $origin/Forecast.csh "{{mem}}"
    [[[job]]]
      execution retry delays = {{CyclingFCRetry}}
{% endfor %}
  [[ForecastFinished]]
    [[[job]]]
      batch system = background


## Forecasts and analyses generated outside MPAS-Workflow
  [[GetWarmStartIC]]
    script = $origin/GetWarmStartIC.csh
    [[[job]]]
      # give longer for higher resolution and more EDA members
      # TODO: set time limit based on outerMesh AND (number of members OR
      #       independent task for each member)
      execution time limit = PT10M
      execution retry delays = {{InitializationRetry}}
  [[GetGFSanalysis]]
    script = $origin/GetGFSanalysis.csh
    [[[job]]]
      execution time limit = PT20M
      execution retry delays = {{GFSAnalysisRetry}}
  [[UngribColdStartIC]]
    script = $origin/UngribColdStartIC.csh
    [[[job]]]
      execution time limit = PT5M
      execution retry delays = {{InitializationRetry}}
    # currently UngribColdStartIC has to be on Cheyenne, because ungrib.exe is built there
    # TODO: build ungrib.exe on casper, remove CP directives below
    [[[directives]]]
      -q = {{CPQueueName}}
      -A = {{CPAccountNumber}}
  [[GenerateColdStartIC]]
    script = $origin/GenerateColdStartIC.csh
    [[[job]]]
      execution time limit = PT{{InitICSeconds}}S
      execution retry delays = {{InitializationRetry}}
    [[[directives]]]
      -q = {{CPQueueName}}
      -A = {{CPAccountNumber}}
      -l = select={{InitICNodes}}:ncpus={{InitICPEPerNode}}:mpiprocs={{InitICPEPerNode}}
  [[ExternalAnalysisReady]]
    [[[job]]]
      batch system = background


## Verification: extended forecast from mean analysis (including single-member deterministic)
  [[MeanAnalysis]]
    script = $origin/MeanAnalysis.csh
    [[[job]]]
      execution time limit = PT5M
    [[[directives]]]
      -m = ae
      -q = {{NCPQueueName}}
      -A = {{NCPAccountNumber}}
      -l = select=1:ncpus=36:mpiprocs=36
  [[ExtendedMeanFC]]
    inherit = ExtendedFCBase
    script = $origin/ExtendedMeanFC.csh "1"
  [[HofXMeanFC]]
    inherit = HofXBase
  [[VerifyModelMeanFC]]
    inherit = VerifyModelBase
{% for dt in ExtendedFCLengths %}
  [[HofXMeanFC{{dt}}hr]]
    inherit = HofXMeanFC
    env-script = cd {{mainScriptDir}}; ./PrepJEDIHofXMeanFC.csh "1" "{{dt}}" "FC"
    script = $origin/HofXMeanFC.csh "1" "{{dt}}" "FC"
  [[CleanHofXMeanFC{{dt}}hr]]
    inherit = CleanBase
    script = $origin/CleanHofXMeanFC.csh "1" "{{dt}}" "FC"
  [[VerifyObsMeanFC{{dt}}hr]]
    inherit = VerifyObsBase
    script = $origin/VerifyObsMeanFC.csh "1" "{{dt}}" "FC" "0"
  [[VerifyModelMeanFC{{dt}}hr]]
    inherit = VerifyModelMeanFC
    script = $origin/VerifyModelMeanFC.csh "1" "{{dt}}" "FC" "0"
{% endfor %}


## Verification: ensemble mean background
  [[MeanBackground]]
    script = $origin/MeanBackground.csh
    [[[job]]]
      execution time limit = PT5M
    [[[directives]]]
      -m = ae
      -q = {{NCPQueueName}}
      -A = {{NCPAccountNumber}}
      -l = select=1:ncpus=36:mpiprocs=36
  [[HofXEnsMeanBG]]
    inherit = HofXBase
    env-script = cd {{mainScriptDir}}; ./PrepJEDIHofXEnsMeanBG.csh "1" "0" "BG"
    script = $origin/HofXEnsMeanBG.csh "1" "0" "BG"
    [[[directives]]]
      -q = {{EnsMeanBGQueueName}}
      -A = {{EnsMeanBGAccountNumber}}
{% if DiagnoseEnsSpreadBG %}
  {% set nEnsSpreadMem = nEnsDAMembers %}
  {% set modelSeconds = VerifyModelEnsMeanSeconds %}
  {% set obsSeconds = VerifyObsEnsMeanSeconds %}
{% else %}
  {% set nEnsSpreadMem = 0 %}
  {% set modelSeconds = VerifyModelSeconds %}
  {% set obsSeconds = VerifyObsSeconds %}
{% endif %}
  [[VerifyModelEnsMeanBG]]
    inherit = VerifyModelBase
    script = $origin/VerifyModelEnsMeanBG.csh "1" "0" "BG" "{{nEnsSpreadMem}}"
    [[[job]]]
      execution time limit = PT{{modelSeconds}}M
  [[VerifyObsEnsMeanBG]]
    inherit = VerifyObsBase
    script = $origin/VerifyObsEnsMeanBG.csh "1" "0" "BG" "{{nEnsSpreadMem}}"
    [[[job]]]
      execution time limit = PT{{obsSeconds}}S
  [[CleanHofXEnsMeanBG]]
    inherit = CleanBase
    script = $origin/CleanHofXEnsMeanBG.csh "1" "0" "BG"


## Verification: various kinds of ensembles
  [[ExtendedEnsFC]]
    inherit = ExtendedFCBase
{% for state in ['BG', 'AN']%}
  [[HofX{{state}}]]
    inherit = HofXBase
  [[VerifyModel{{state}}]]
    inherit = VerifyModelBase
  [[CompareModel{{state}}]]
    inherit = CompareBase
  [[VerifyObs{{state}}]]
    inherit = VerifyObsBase
  [[CompareObs{{state}}]]
    inherit = CompareBase
  [[CleanHofX{{state}}]]
    inherit = CleanBase
{% endfor %}
{% for mem in EnsVerifyMembers %}

  # ensemble of backgrounds and analyses (including single-member deterministic)
  {% for state in ['BG', 'AN']%}
  [[HofX{{state}}{{mem}}]]
    inherit = HofX{{state}}
    env-script = cd {{mainScriptDir}}; ./PrepJEDIHofX{{state}}.csh "{{mem}}" "0" "{{state}}"
    script = $origin/HofX{{state}}.csh "{{mem}}" "0" "{{state}}"
  [[VerifyModel{{state}}{{mem}}]]
    inherit = VerifyModel{{state}}
    script = $origin/VerifyModel{{state}}.csh "{{mem}}" "0" "{{state}}" "0"
  [[CompareModel{{state}}{{mem}}]]
    inherit = CompareModel{{state}}
    script = $origin/CompareModel{{state}}.csh "{{mem}}" "0" "{{state}}"
  [[VerifyObs{{state}}{{mem}}]]
    inherit = VerifyObs{{state}}
    script = $origin/VerifyObs{{state}}.csh "{{mem}}" "0" "{{state}}" "0"
  [[CompareObs{{state}}{{mem}}]]
    inherit = CompareObs{{state}}
    script = $origin/CompareObs{{state}}.csh "{{mem}}" "0" "{{state}}" "0"
  [[CleanHofX{{state}}{{mem}}]]
    inherit = CleanHofX{{state}}
    script = $origin/CleanHofX{{state}}.csh "{{mem}}" "0" "{{state}}"
  {% endfor %}


  # ensemble of extended forecasts from ensemble of analyses
  [[ExtendedFC{{mem}}]]
    inherit = ExtendedEnsFC
    script = $origin/ExtendedEnsFC.csh "{{mem}}"
  [[HofXEnsFC{{mem}}]]
    inherit = HofXBase
  [[VerifyModelEnsFC{{mem}}]]
    inherit = VerifyModelBase
  {% for dt in ExtendedFCLengths %}
  [[HofXEnsFC{{mem}}-{{dt}}hr]]
    inherit = HofXEnsFC{{mem}}
    env-script = cd {{mainScriptDir}}; ./PrepJEDIHofXEnsFC.csh "{{mem}}" "{{dt}}" "FC"
    script = $origin/HofXEnsFC.csh "{{mem}}" "{{dt}}" "FC"
  [[VerifyModelEnsFC{{mem}}-{{dt}}hr]]
    inherit = VerifyModelEnsFC{{mem}}
    script = $origin/VerifyModelEnsFC.csh "{{mem}}" "{{dt}}" "FC" "0"
  [[VerifyObsEnsFC{{mem}}-{{dt}}hr]]
    inherit = VerifyObsBase
    script = $origin/VerifyObsEnsFC.csh "{{mem}}" "{{dt}}" "FC" "0"
  [[CleanHofXEnsFC{{mem}}-{{dt}}hr]]
    inherit = CleanBase
    script = $origin/CleanHofXEnsFC.csh "{{mem}}" "{{dt}}" "FC"
  {% endfor %}
{% endfor %}
