  # ... for background-duration forecast from deterministic analysis or ensemble of analyses
{% if VerifyBGMembers or (VerifyEnsMeanBG and nMembers == 1)%}
    [[[{{AnalysisTimes}}]]]
      graph = '''
        ForecastFinished[-PT{{FC2DAOffsetHR}}H] => VerifyModelBG
        {{PrepareExternalAnalysisOuter}} => VerifyModelBG
    {% if CompareBG2Benchmark %}
        VerifyModelBG:succeed-all => CompareModelBG
    {% endif %}
      '''
{% endif %}


  # ... for mean of ensemble of backgrounds and ensemble spread (bg only for obs, bg+an for model)
{% if VerifyEnsMeanBG and nMembers > 1 %}
    [[[{{AnalysisTimes}}]]]
      graph = '''
        ForecastFinished[-PT{{FC2DAOffsetHR}}H] => MeanBackground
        MeanBackground => VerifyModelEnsMeanBG
        {{PrepareExternalAnalysisOuter}} => VerifyModelEnsMeanBG
  {% if DiagnoseEnsSpreadBG %}
        DataAssimFinished => VerifyModelEnsMeanBG
        VerifyModelEnsMeanBG => {{CleanDataAssim}}
  {% endif %}
      '''
{% endif %}


  # ... for ensemble of analyses
{% if VerifyANMembers %}
    [[[{{AnalysisTimes}}]]]
      graph = '''
        DataAssimFinished => VerifyModelAN
        {{PrepareExternalAnalysisOuter}} => VerifyModelAN
      '''
{% endif %}


  # ... for extended forecast from deterministic analysis or mean of ensemble of analyses
  # note: assumes that obs and verifying analyses are available at extended forecast times
{% if VerifyExtendedMeanFC %}
    [[[{{ExtendedMeanFCTimes}}]]]
      graph = '''
        DataAssimFinished => MeanAnalysis => ExtendedMeanFC
        ExtendedMeanFC => VerifyModelMeanFC

        # need analyses at all verified forecast lengths
{% for dt in ExtendedFCLengths %}
  {% set prep = "[PT"+dt+"+H] => ".join(PrepareExternalAnalysisTasksOuter)+"[PT"+dt+"H]" %}

  {# set prep = "" #}
  {# for task in PrepareExternalAnalysisTasksOuter #}
    {# set prep = prep+task+"[PT"+dt+"H]" #}
    {# if task != PrepareExternalAnalysisTasksOuter[-1] #}
      {# set prep = prep+" => " #}
    {# endif #}
  {# endfor #}

        {{prep}} => VerifyModelMeanFC{{dt}}hr
{% endfor %}
      '''
{% endif %}


  # ... for extended forecast from ensemble of analyses
  # note: assumes that obs and verifying analyses are available at extended forecast times
{% if VerifyExtendedEnsFC %}
    [[[{{ExtendedEnsFCTimes}}]]]
      graph = '''
        DataAssimFinished => ExtendedEnsFC
        ExtendedEnsFC:succeed-all => VerifyModelEnsFC

        # need analyses at all verified forecast lengths
{% for dt in ExtendedFCLengths %}
  {% set prep = "[PT"+dt+"+H] => ".join(PrepareExternalAnalysisTasksOuter)+"[PT"+dt+"H]" %}

  {# set prep = "" #}
  {# for task in PrepareExternalAnalysisTasksOuter #}
    {# set prep = prep+task+"[PT"+dt+"H]" #}
    {# if task != PrepareExternalAnalysisTasksOuter[-1] #}
      {# set prep = prep+" => " #}
    {# endif #}
  {# endfor #}
  {% for mem in EnsVerifyMembers %}
        {{prep}} => VerifyModelEnsFC{{mem}}-{{dt}}hr
  {% endfor %}
{% endfor %}
      '''
{% endif %}
