output:
  filename: anStateDirOOPSMemberDir/anStatePrefix.$Y-$M-$D_$h.$m.$s.nc
variational:
  minimizer:
    algorithm: DRIPCG
  iterations:
  - geometry:
      nml_file: InnerNamelistFile
      streams_file: InnerStreamsFile
      deallocate non-da fields: true
    ninner: '60'
    gradient norm reduction: 1e-10
    test: 'on'
    diagnostics:
      departures: depbg
    obs perturbations: ObsPerturbations
#  - geometry:
#      nml_file: InnerNamelistFile
#      streams_file: InnerStreamsFile
#      deallocate non-da fields: true
#    ninner: '60'
#    gradient norm reduction: 1e-10
#    test: 'on'
final:
  diagnostics:
    departures: depan
cost function:
  cost type: 3D-Var
  window begin: 'WindowBegin'
  window length: PT6H
  geometry:
    nml_file: OuterNamelistFile
    streams_file: OuterStreamsFile
    deallocate non-da fields: true
  analysis variables: &incvars [AnalysisVariables]
  background:
    state variables: [StateVariables]
    filename: bgStateDirOOPSMemberDir/bgStatePrefix.2018-04-15_00.00.00.nc
    date: &adate '2018-04-15T00:00:00Z'
  background error:
    covariance model: ensemble
    date: *adate
    localization:
      localization method: BUMP
      timeslots:
      - *adate
      localization variables: *incvars
      bump:
        datadir: bumpLocDir
        prefix: bumpLocPrefix
        strategy: common
        load_nicas_local: 1
        verbosity: main
    variables: *incvars
    members:
EnsemblePbMembers
EnsemblePbInflation
  observations:
