- obs space:
    name: SfcPCorrected
    obsdatain:
      obsfile: InDBDir/sfc_obs_2018041500.h5
    obsdataout:
      obsfile: OutDBDirOOPSMemberDir/obsPrefix_AppType_sfc.h5
    simulated variables: [surface_pressure]
    obs perturbations seed: MemberSeed
  obs operator:
    name: SfcPCorrected
    da_psfc_scheme: UKMO   # or WRFDA
  linear obs operator:
    name: Identity
  obs error:
    covariance model: diagonal
  obs filters:
  - filter: PreQC
    maxvalue: 3
  - filter: Difference Check
    reference: station_elevation@MetaData
    value: surface_altitude@GeoVaLs
    threshold: 200.0
    apply at iterations: 0, 1
  - filter: Background Check
    threshold: 3.0
    apply at iterations: 0, 1
  get values:
    interpolation type: InterpolationType
